.topBar {
  position: fixed;
  top: 0;

  height: 50px;
  width: 100%;

  padding-left: 15px;
  background-color: grey;

  display: flex;
  justify-content: center;

  z-index: 100;
}

.activeTool {
  position: absolute;
  top: 9px;
  left: 5px;
}

.activeTool > span {
  background-color: rgb(82, 82, 82);
  border-radius: 5px;
  padding: 2.5px 16px;
  color: white;
  font-size: 20px;
  user-select: none;
}
